<html>
<head>


</head>
<body>

  <div class="greeting">
    <br />
    <br />
    <h3>Contact Us! We would love your feedback!</h3>
    <br />
    <br />
  </div>

  <form>

    <div class="form-group row">
      <label for="fullname" class="col-sm-2 col-form-label">Full Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="fullname">
      </div>
    </div>

    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email">
      </div>
    </div>

    <div class="form-group row">
      <label for="message" class="col-sm-2 col-form-label">Your feedback here</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="message" rows="3"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <label for="customRange3">How would you rate your user experience?</label>
        <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>


  </form>

</body>
</html>
